@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

*::-webkit-scrollbar {
    width: 7px;
    height: 5px;
}

*::-webkit-scrollbar-track {
    box-shadow: none;
    border-radius: 3px;
    background-color: #fff;
}

*::-webkit-scrollbar-thumb {
    background-color: cornflowerblue !important;
    border-radius: 2px;
}


.pagination {
    margin-top: 20px;
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
    justify-content: end;
}

.pagination button {
    color: #6b9ad0 !important;
    border: 1px solid #6b9ad0 !important;
    color: white;
    border: none;
    padding: 5px 15px;
    margin: 2px;
    cursor: pointer;
    border-radius: 7px;
}

.pagination button:hover {
    background-color: hsl(213, 55%, 57%);
    color: #fff !important;
}

.pagination button:disabled {
    background-color: #d0d0d0;
    cursor: not-allowed;
}

.pagination button.active {
    background-color: #ff5f48;
    color: #fff !important;
    border: 1px solid #ff5f48 !important;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    font-size: 13px !important;
    padding: 8px;
    /* text-align: left; */
    border-right: 1px solid #dedede !important;
    border-bottom: 1px solid #dedede !important;
}

td:first-child {
    text-align: center !important;
}

th {
    background-color: #FF725E;
    color: #fff;
    text-align: center !important;
}

.smallRow tbody,
.smallRow td,
.smallRow tfoot,
.smallRow tr {
    height: 32px !important;
    padding: 3px 5px !important;
}

.table-container {
    overflow: auto;
    box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
}

.table-container td,
.table-container th {
    min-width: 180px !important;
}

/* evaluation 1-ci ve 2-ci setr 180 qalanlari 115px lsun deye */
.evaluation .table-container td:not(:first-child),
.evaluation .table-container td:not(:nth-child(2)),
.evaluation .table-container th:not(:first-child),
.evaluation .table-container th:not(:nth-child(2)) {
    min-width: 110px !important;
}

.evaluation .table-container td:first-child,
.evaluation .table-container td:nth-child(2),
.evaluation .table-container th:first-child,
.evaluation .table-container th:nth-child(2) {
    min-width: 180px !important;
}

.evaluation .table-container td,
.evaluation .table-container th {
    min-width: 180px !important;
}

.evaluation .table-container td:last-child,
.evaluation .table-container th:last-child {
    min-width: 60px !important;
}

.mat-elevation-z1 {
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12)
}

.mat-elevation-z2 {
	box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12)
}

.mat-elevation-z3 {
	box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12)
}

.mat-elevation-z4 {
	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12)
}

.mat-elevation-z5 {
	box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12)
}

.mat-elevation-z6 {
	box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12)
}

.mat-elevation-z7 {
	box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12)
}

.mat-elevation-z8 {
	box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12)
}

