@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.pagination {
    margin-top: 20px;
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.pagination button {
    color: #6b9ad0 !important;
    border: 1px solid #6b9ad0 !important;
    color: white;
    border: none;
    padding: 5px 15px;
    margin: 2px;
    cursor: pointer;
    border-radius: 7px;
}

.pagination button:hover {
    background-color: hsl(213, 55%, 57%);
    color: #fff !important;
}

.pagination button:disabled {
    background-color: #d0d0d0;
    cursor: not-allowed;
}

.pagination button.active {
    background-color: #ff5f48;
    color: #fff !important;
    border: 1px solid #ff5f48 !important;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    font-size: 13px !important;
    padding: 8px;
    /* text-align: left; */
    border-right: 1px solid #dedede !important;
    border-bottom: 1px solid #dedede !important;
}

td:first-child{
    text-align: center !important;
}

th {
    background-color: #FF725E;
    color: #fff;
    text-align: center !important;
}